<a href="https://colab.research.google.com/github/vaibhavmahendru/EYGDS/blob/main/python_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
students  = ['Alex' , 'Bob' , 'Max' , 'James']

In [ ]:
scores = [55 , 65 , 88 , 78]

In [ ]:
exam_grades = pd.DataFrame(
    {
        "name" : students,
        "scores" : scores
    }
)

In [ ]:
exam_grades

    name  scores
0   Alex      55
1    Bob      65
2    Max      88
3  James      78

In [ ]:
exam_grades.loc[0,'scores']

55

In [ ]:
exam_grades.loc[:,'scores']

0    55
1    65
2    88
3    78
Name: scores, dtype: int64

In [ ]:
exam_grades.loc[2,:]

name      Max
scores     88
Name: 2, dtype: object

In [ ]:
exam_grades["scores"]

0    55
1    65
2    88
3    78
Name: scores, dtype: int64

In [ ]:
exam_grades["name"]

0     Alex
1      Bob
2      Max
3    James
Name: name, dtype: object

In [ ]:
gender = ['female' , 'male' , 'female' , 'male']

In [ ]:
exam_grades['gender'] = gender

In [ ]:
exam_grades

    name  scores  gender
0   Alex      55  female
1    Bob      65    male
2    Max      88  female
3  James      78    male

In [ ]:
exam_grades['gender']

0    female
1      male
2    female
3      male
Name: gender, dtype: object

In [ ]:
exam_grades.drop('name' , axis=1)

   scores  gender
0      55  female
1      65    male
2      88  female
3      78    male

In [ ]:
exam_grades

    name  scores  gender
0   Alex      55  female
1    Bob      65    male
2    Max      88  female
3  James      78    male

In [ ]:
exam_grades.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [ ]:
exam_grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   scores  4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [ ]:
exam_grades.describe()

          scores
count   4.000000
mean   71.500000
std    14.479871
min    55.000000
25%    62.500000
50%    71.500000
75%    80.500000
max    88.000000

In [ ]:
exam_grades.rename({'name' : 'firstname'}, axis=1)

  firstname  scores  gender
0      Alex      55  female
1       Bob      65    male
2       Max      88  female
3     James      78    male

In [ ]:
sparse = pd.DataFrame(
    {
        'a' : [1,2,3],
        'b' : [np.nan , 4,np.nan],
        'c' : [5,np.nan,np.nan]
    }
)

In [ ]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [ ]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [ ]:
sparse.fillna(8)

   a    b    c
0  1  8.0  5.0
1  2  4.0  8.0
2  3  8.0  8.0

In [ ]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [ ]:
sparse.dropna(axis = 1)

   a
0  1
1  2
2  3

In [34]:
exam_grades.groupby('gender').mean()

        scores
gender
female    71.5
male      71.5

In [35]:
exam_grades

    name  scores  gender
0   Alex      55  female
1    Bob      65    male
2    Max      88  female
3  James      78    male

In [36]:
mylist=[1,2,1,2]

exam_grades.groupby(mylist).get_group(1)

   name  scores  gender
0  Alex      55  female
2   Max      88  female

In [37]:
exam_grades.groupby(mylist).get_group(2)

    name  scores gender
1    Bob      65   male
3  James      78   male

In [40]:
above_70 = exam_grades['scores'] > 70
above_70

0    False
1    False
2     True
3     True
Name: scores, dtype: bool

In [41]:
exam_grades

    name  scores  gender
0   Alex      55  female
1    Bob      65    male
2    Max      88  female
3  James      78    male

In [42]:
exam_grades.groupby(above_70).mean()

        scores
scores
False     60.0
True      83.0

In [53]:
contacts = pd.DataFrame(
    {
     'name' :['Bob','Charlie'] ,
     'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88'] 
    }
)

In [54]:
exam_grades.merge(contacts , left_on ='name' , right_on = 'name')

  name  scores gender                Tel
0  Bob      65   male  +91 999 999 99 99

In [55]:
exam_grades.merge(contacts , left_on ='name' , right_on = 'name' , how = 'outer')

      name  scores  gender                Tel
0     Alex    55.0  female                NaN
1      Bob    65.0    male  +91 999 999 99 99
2      Max    88.0  female                NaN
3    James    78.0    male                NaN
4  Charlie     NaN     NaN  +91 888 888 88 88